<h1>School Donor App</h1>
<p>Search: </p><input /> <!--inline with h1-->
<h2>School Donor App is a place to donate your used or new items to schools.</h2>
<a href="#">Login</a>
<a href="#">Register</a>
