<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script type="text/javascript" src="../public/css/bootstrap.min.js"></script>
        <link ref="stylesheet" src="../public/css/styles.css" charset="utf-8"/>

        <script type="text/javascript" src="../public/js/jquery-3.2.1.min"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
