<input placeholder='email' id='emailForm'>
<input placeholder="name" id="nameForm">
<input placeholder='password' id='passwordForm'>
<select id="userTypeForm">
	<option value="Donor">I'm registering as a donor</option>
	<option value="School">I'm registering a school</option>
</select>
<select id="schoolTypeForm" class="disabled" disabled>
	<option value="Public school">I'm registering a public school</option>
	<option value="Charter school">I'm registering a charter school</option>
	<option value="Private school">I'm registering a private school</option>
	<option value="Magnet school">I'm registering a magnet school</option>
<input placeholder="address" id="addressForm">
<input placeholder="image" id="imageForm">
<input placeholder="Input any additional information you'd like other users to know" id='descriptionForm'>


<button id='createUser'>Submit</button>
