<label for='emailForm'>Email/Username</label>
<input class='editField' placeholder='email' id='emailForm'>

<label for='nameForm'>Display name</label>
<input class='editField' placeholder="name" id="nameForm">

<label for='passwordForm'>Password</label>
<input class='editField' placeholder='password' id='passwordForm'>

<label for='userTypeForm'>User Type</label>
<br />
	<select id="userTypeForm">
		<option value=false >I'm registering as a donor</option>
		<option value=true>I'm registering a school</option>
	</select>
<br />

<label for='schoolTypeForm'>Type of school</label>
	<select id="schoolTypeForm" class="editField disabled" disabled>
		<option value="Neighborhood school">I'm registering a neighborhood school</option>
		<option value="Charter school">I'm registering a charter school</option>
		<option value="Private school">I'm registering a private school</option>
		<option value="Magnet school">I'm registering a magnet school</option>
	</select>

<label for='addressForm'>Address</label>
<input class='editField' placeholder="address" id="addressForm">

<label for='imageForm'>Image</label>
<input class='editField' placeholder="image" id="imageForm">

<label for='descriptionForm'>Description</label>
<input class='editField' placeholder="Input any additional information you'd like other users to know" id='descriptionForm'>


<button id='createUser'>Submit</button>
