select:disabled option{
	background-color: red;
	color: red;
}

option:disabled{
	background: red;
}

.disabled {
	background: grey;
	opacity: 60%
}

.navbar-inverse {
	background: rgb(241, 90, 34);
}

body {
	background-color: rgb(255, 244, 238);
}


ul.nav li a, ul.nav li a {
    color: black !important;
}

ul.nav li a:hover{
    color: white !important;
}

.navbar-header a {
	color: black !important;
}

.navbar-header a:hover {
	color: white !important;
}

.openItem {
	background-color: #8FC2E8;
}

.closedItem {
	background-color: #FFF9A0;
}

#map {
	width: 400px;
	height: 400px;
}
